u,li {
    color: blue;
}
.chia{
    display: flex;
    width: 80%;
    margin: 20px auto;
}
.danh_muc{
    width: 25%;
    background: #ddd;
    padding: 20px;
}
.báo{
    display: flex;
    padding: 15px;
    border-radius: 8px;
    gap: 10px;

}
